<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
          <img src="/css/images/logo-black2.png" width="319px" height="227px" class="logo">
        </header>
        <h4>Sarah Mendham</h4>
        <br />
        <p>Web Developer</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">About</a></li>
                <p class="slash">/</p>
                <li><a href="#main > :last-child" class="button fit scrolly">Projects</a></li>
                <p class="slash">/</p>
                <li><a href="#cta" class="button fit scrolly">Contact</a></li>
            </ul>
        </footer>

    </div>

</section>
